<!-- <div class="container">
    <label for="objectDropdown">Select Object:</label>
    <select id="objectDropdown" [(ngModel)]="selectedObject">
      <option value="object1">Object 1</option>
    </select>
  
    <label for="fieldDropdown">Select Field:</label>
    <select id="fieldDropdown" [(ngModel)]="selectedField">
      <option value="field1">Field 1</option>
      <option value="field2">Field 2</option>
    </select>
  
    <button (click)="onEnterClick()">Enter</button>
  </div>
   -->


<!-- salesforce.component.html -->

<div class="container">
    <label for="objectDropdown">Select Salesforce Object:</label>
    <select [(ngModel)]="selectedObject" (change)="onObjectSelect()">
        <option *ngFor="let obj of sObject$ | async">{{ obj }}</option>
    </select>
</div>

<div class="container" *ngIf ="selectedObject">
    <label for="fieldDropdown">Select Fields:</label>
    <select id="fieldDropdown" [(ngModel)]="selectedFields" multiple>
        <option *ngFor="let field of fields$ | async">{{ field.name }}</option>
    </select>
    <button (click)="fetchData()">Fetch Data</button>
</div>

<div class="container" *ngIf="fetchClicked">
    <table>
        <thead>
            <tr>
                <th *ngFor="let field of selectedFields">{{ field }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of records$ | async">
                <td *ngFor="let field of selectedFields">{{ record[field] }}</td>
                <td>
                    <button (click)="editRecord(record)">Edit</button>
                    <button id="deletecss" (click)="deleteRecord(record.attributes.url)">Delete</button>
                </td>+
            </tr>
        </tbody>
    </table>
</div>



<div class="container" *ngIf="update_select">
    <div class="container" *ngFor="let field of selectedFields">
        <div *ngIf="fieldhash[field]">
            <label for="field"> {{field}}</label>
            <input type="string" [readonly]="!fieldhash[field]" [(ngModel)]="selectedrecord[field]">
        </div>
    </div>
    <button class="update" (click)="updateRecord(selectedrecord)">Update</button>
</div>